<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.topixoft.top_stack_overflow" android:versionCode="3"
	android:versionName="0.1.1">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@android:style/Theme.Light">
		<activity android:name=".TopStackOverflowActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".questions.QuestionsTabsActivity"></activity>
		<activity android:name=".questions.QuestionsActivity"></activity>
		<activity android:name=".questions.QuestionDetailsActivity"></activity>
		<activity android:name=".answers.QuestionAnswersTabsActivity"></activity>
		<activity android:name=".answers.QuestionAnswersActivity"></activity>
		<activity android:name=".tags.TagsTabsActivity"></activity>
		<activity android:name=".tags.TagsActivity"></activity>
		<activity android:name=".users.UsersTabsActivity"></activity>
		<activity android:name=".users.UsersActivity"></activity>
		<activity android:name=".badges.BadgesTabsActivity"></activity>
		<activity android:name=".badges.BadgesActivity"></activity>
		
		<!-- The application's publisher ID assigned by AdMob -->
		<meta-data android:value="a14c2a1fc661578" android:name="ADMOB_PUBLISHER_ID" />
		
	</application>
	<uses-sdk android:minSdkVersion="3" />

	<!-- Ads permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<!--uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /-->
	
</manifest> 